/* dashboard.css */

body {
  margin: 0;
  padding: 0;
  background-image: url("./alien-3233076_1280.jpg");
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-position: center; /* Center the background image */
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 20px; /* Adjust the top margin for better alignment on smaller screens */
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: #ffcc6f;
  font-weight: bold;
  font-size: 32px; /* Reduce font size for smaller screens */

}

a:hover {
  color: rgb(245, 136, 97);
  text-decoration: underline;
  font-size: 36px; /* Increase font size on hover for better visibility */
}

.background-container {
  margin: 20px auto; /* Increase margin for better spacing on smaller screens */
  width: 90%; /* Adjust the width for smaller screens */
  max-width: 600px; /* Limit the maximum width on smaller screens */
  height: 250px;
  border-radius: 14px 14px 0px 0px;
  text-shadow: 5px -3px dimgrey;
}

.heading1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large; /* Adjust font size for smaller screens */
  font-weight: bolder;
  color: whitesmoke;
  width: 90%; /* Adjust width for smaller screens */
  margin: 0 auto; /* Center the heading horizontally on smaller screens */
}
